body {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal; }

.nav_burger {
  display: none;
  margin: 0;
  padding: 0;
  height: 0; }
  .nav_burger input {
    display: none; }
  .nav_burger label {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.burgerimg {
  position: absolute;
  top: 60px;
  right: 10%;
  z-index: 19; }

.button_on {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 90%;
  background-color: #000;
  width: 320px;
  height: 100vh;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #fff; }
  .button_on img {
    position: absolute;
    top: 41px;
    right: 16px; }
  .button_on ul {
    padding-top: 165px;
    padding-bottom: 5px; }
    .button_on ul li {
      padding: 10px 15px; }
      .button_on ul li a {
        font-weight: 500;
        text-decoration: none;
        color: #fff; }
      .button_on ul li a:hover {
        text-decoration: underline; }

.contacts_burger {
  display: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .contacts_burger p {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 35px 0; }
    .contacts_burger p a {
      font-weight: bold;
      color: #fff;
      padding: 23px 34px 23px 35px;
      border: 3px solid #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 15px; }

input + label > .button_on {
  display: none; }

input:checked + label > .button_on {
  display: block; }

input:checked + label > .burgerimg {
  display: none; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 27px 0; }

.logo {
  margin-right: 50px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu li {
    padding-right: 45px; }
    .menu li a {
      color: #222222; }
  .menu li:last-child {
    padding-right: 0; }

.contacts {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .contacts a {
    font-weight: bold;
    color: #5C2DBB;
    padding: 23px 34px 23px 35px;
    margin-left: 5px;
    border: 3px solid #5C2DBB;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px; }
  .contacts a:hover {
    color: #fff;
    background-color: #5C2DBB;
    text-decoration: none; }

.baner {
  background: url("../img/baner.png") no-repeat center center;
  background-size: cover;
  min-height: 730px; }

.banertext {
  padding: 143px 0 0 0;
  color: #fff; }
  .banertext h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase; }
  .banertext p {
    font-size: 27px;
    line-height: 140%;
    padding-top: 30px; }
    .banertext p a {
      display: inline-block;
      padding: 23px 51px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      background: #5C2DBB;
      border-radius: 15px; }

.content h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #5C2DBB;
  padding: 50px 0 30px 0; }

.content h6 {
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  padding: 30px 0; }

.info {
  padding-left: 0; }
  .info p {
    font-size: 20px;
    line-height: 136%;
    padding-top: 30px; }
  .info .one {
    padding-top: 45px; }

.info_foto {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info_foto_large img:first-child {
  margin-top: 162px;
  margin-right: 20px; }

.info_foto_large img:last-child {
  margin-top: 117px;
  margin-bottom: 45px; }

.info_foto_sm {
  display: none; }

.events {
  padding: 0; }

.image_3, .image_4, .image_5, .image_6, .image_7, .image_8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .image_3 img, .image_4 img, .image_5 img, .image_6 img, .image_7 img, .image_8 img {
    width: 100%; }

.image_3, .image_6 {
  padding-top: 0; }

.image_4, .image_7 {
  padding-top: 45px; }

.image_5, .image_8 {
  padding-top: 90px; }

.image_6, .image_7, .image_8 {
  margin-top: -90px; }

.image_9, .image_10, .image_11, .image_12, .image_13, .image_14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 15px 0;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.foto_1, .foto_2, .foto_3, .foto_4, .foto_5, .foto_6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .foto_1 img, .foto_2 img, .foto_3 img, .foto_4 img, .foto_5 img, .foto_6 img {
    width: 100%; }
  .foto_1 h3, .foto_2 h3, .foto_3 h3, .foto_4 h3, .foto_5 h3, .foto_6 h3 {
    font-size: 26px;
    line-height: 32px;
    width: 86%;
    padding: 23px 0 23px 23px;
    color: #fff;
    background-color: #5C2DBB;
    border-radius: 15px;
    opacity: 90%;
    position: absolute;
    top: 350px; }
    .foto_1 h3 span, .foto_2 h3 span, .foto_3 h3 span, .foto_4 h3 span, .foto_5 h3 span, .foto_6 h3 span {
      font-size: 20px;
      line-height: 24px; }

.foto_1 {
  margin-top: 90px; }

.foto_2 {
  margin-top: 45px; }

.foto_3 {
  margin-top: 0; }

.foto_4 {
  margin-top: 30px; }

.foto_5 {
  margin-top: -15px; }

.foto_6 {
  margin-top: -60px; }

.over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 50px 27px 0 27px;
  background-color: rgba(92, 45, 187, 0.8);
  color: #fff;
  border-radius: 15px;
  display: none; }
  .over h4 {
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 20px; }
    .over h4 span {
      font-size: 22px;
      line-height: 27px; }
  .over p {
    font-size: 22px;
    line-height: 140%; }

.foto_1:hover h3, .foto_2:hover h3, .foto_3:hover h3, .foto_4:hover h3, .foto_5:hover h3, .foto_6:hover h3 {
  display: none; }

.foto_1:hover .over, .foto_2:hover .over, .foto_3:hover .over, .foto_4:hover .over, .foto_5:hover .over, .foto_6:hover .over {
  display: block; }

footer {
  min-height: 420px;
  background-color: #404040;
  margin-top: 50px; }

.info_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 26px;
  line-height: 140%;
  color: #fff;
  padding-top: 82px;
  padding-left: 220px; }
  .info_events ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 16px 0; }
    .info_events ul li {
      padding-right: 28px; }
      .info_events ul li a {
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 82px;
  padding-left: 60px; }
  .button p a {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
    border: 3px solid #FFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px; }
  .button p:first-child {
    margin-bottom: 35px; }
    .button p:first-child a {
      padding: 23px 34px 23px 35px; }
  .button p:last-child a {
    padding: 23px 29px; }

.copyright {
  margin-top: 55px;
  text-align: center;
  font-size: 26px;
  line-height: 140%;
  color: #FFF; }
