
/*Bootstrap*/
/* xs - 576px */
@media (max-width: 575px) {
.menu{
	display: none;}
.burger{
	display: block;}
.contacts{
	display: none;}
.contacts_burger{
	display: block;}
.banertext h1{
	font-size: 26px;
	line-height: 32px;}
.banertext p{
	font-size: 19px;}
.info h2{
    font-size: 15px;
    line-height: 18px;
	padding-bottom: 15px;}
.info p{
    font-size: 12px;}
.info_foto{
	flex-direction: column;
	align-items: center;}
.info_foto img:first-child {
    margin-top: 107px;
    width: 209px;
   	height: 127px; }
  .info_foto img:last-child {
    margin-top: 13px;
    margin-bottom: 0; 
    width: 209px;
   	height: 146px;}

}


/* sm-576px */
@media (min-width: 576px) and (max-width: 768px){
.menu{
	display: none;}
.burger{
	display: block;}
.contacts{
	display: none;}
.contacts_burger{
	display: block;}
.banertext h1{
	font-size: 26px;
	line-height: 32px;}
.banertext p{
	font-size: 19px;}
.info h2{
    font-size: 22px;
    line-height: 27px;
	padding-bottom: 15px;}
.info p{
    font-size: 16px;}
.info_foto{
	flex-direction: column;
	align-items: center;}
.info_foto img:first-child {
    margin-top: 107px;
    width: 209px;
   	height: 127px; }
  .info_foto img:last-child {
    margin-top: 13px;
    margin-bottom: 0; 
    width: 209px;
   	height: 146px;}
}

/* md-768px */
@media (min-width: 768px) and (max-width: 992px){
.header {
	font-size: 18px;
	line-height: 22px;}
.logo{
    margin-right: 31px; }
.contacts a {
  padding: 17px 26px 17px 27px;}
.menu{
	display: none;}
.burger{
	display: block;}
.info h2{
    font-size: 26px;
    line-height: 32px;}
.info p{
    font-size: 18px;}
.info_foto img {
   width: 226px;
   height: 312px; }
}
/* lg-992px */
@media (min-width: 992px) and (max-width: 1200px) {
.header {
	font-size: 18px;
	line-height: 22px;}
.logo{
      margin-right: 15px; }	
.menu li {
    padding-right: 30px; }	

.contacts a {
  padding: 17px 26px 17px 27px;}
.info_foto img {
   width: 298px;}
}


/* xl-1200px */
@media (min-width: 1200px) {}