@import "bourbon/bourbon"
body
	position: relative
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	
.nav_burger
	display: none
	margin: 0
	padding: 0
	height: 0

	input
		display: none

	label
		box-sizing: border-box
		
.burgerimg
		position: absolute
		top: 60px
		right: 10%
		z-index: 19

.button_on
	position: fixed
	top: 0
	right: 0
	opacity: 90%
	background-color: #000
	width: 320px
	height: 100vh
	z-index: 20
	display: flex
	flex-direction: column
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	font-size: 24px
	line-height: 29px
	color: #fff
	img 
		position: absolute
		top: 41px
		right: 16px
	ul 
		padding-top: 165px
		padding-bottom: 5px
		li 
			padding: 10px 15px
			a 
				font-weight: 500
				text-decoration: none
				color: #fff
			a:hover
				text-decoration: underline
.contacts_burger
	display: none
	padding: 0 15px
	box-sizing: border-box
	p 
		box-sizing: border-box
		padding: 35px 0
		a 
			font-weight: bold
			color: #fff
			padding: 23px 34px 23px 35px
			border: 3px solid #fff
			box-sizing: border-box
			border-radius: 15px

input + label > .button_on
	display: none

input:checked + label > .button_on
	display: block

input:checked + label > .burgerimg
	display: none
.header
	display: flex
	align-items: center
	justify-content: space-between
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	font-size: 20px
	line-height: 24px
	nav
  		display: flex
  		justify-content: flex-start
  		align-items: center
  		padding: 27px 0
.nav
	padding: 0
.logo
	margin-right: 50px
.menu
	 display: flex
	 li 
	 	padding-right: 45px
	 	a 
	 		color: #222222
	 li:last-child
	 	padding-right: 0
.contacts
	padding: 0
	display: flex
	align-items: center
	justify-content: space-around
	a 
		font-weight: bold
		color: #5C2DBB
		padding: 23px 34px 23px 35px
		border: 3px solid #5C2DBB
		box-sizing: border-box
		border-radius: 15px
	a:hover	
		color: #fff
		background-color: #5C2DBB
		text-decoration: none
.baner
	background: url("../img/baner.png") no-repeat center center
	background-size: cover
	min-height: 730px
.banertext
	padding: 143px 0 0 0
	color: #fff
	h1 
		font-weight: bold
		font-size: 36px
		line-height: 44px
		text-transform: uppercase
	p 
		font-size: 27px
		line-height: 140%
		padding-top: 30px
		a 
			display: inline-block
			padding: 23px 51px
			font-weight: bold
			font-size: 20px
			line-height: 24px
			color: #fff
			background: #5C2DBB
			border-radius: 15px
		
.content
	h2 
		font-weight: bold
		font-size: 30px
		line-height: 37px
		color: #5C2DBB
		padding: 50px 0 30px 0
	h6 
		font-size: 20px
		line-height: 24px
		color: #222222
		padding: 30px 0
.info
	padding-left: 0
	p 
		font-size: 20px
		line-height: 136%	
		padding-top: 30px
	.one
		padding-top: 45px
.info_foto
	padding: 0
	display: flex
	justify-content: space-between
.info_foto_large
	img:first-child
		margin-top: 162px
		margin-right: 20px
	img:last-child
		margin-top: 117px
		margin-bottom: 45px
.info_foto_sm
	display: none
.events
	padding: 0		
.image_3, .image_4, .image_5, .image_6, .image_7, .image_8
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: start
	box-sizing: border-box
	img 
		width: 100%

.image_3, .image_6
	padding-top: 0		
.image_4, .image_7
	padding-top: 45px
.image_5, .image_8
	padding-top: 90px
.image_6, .image_7, .image_8
	margin-top: -90px

.image_9, .image_10, .image_11, .image_12, .image_13, .image_14
	display: flex
	justify-content: center
	margin: 15px 0
	border-radius: 15px
	overflow: hidden
	box-sizing: border-box
.foto_1, .foto_2, .foto_3, .foto_4, .foto_5, .foto_6
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	box-sizing: border-box
	position: relative
	img 
		width: 100%
		
	h3  
		font-size: 26px
		line-height: 32px
		width: 86%
		padding: 23px 0 23px 23px
		color: #fff
		background-color: #5C2DBB
		border-radius: 15px
		opacity: 90%
		position: absolute
		top: 350px
		span 
			font-size: 20px
			line-height: 24px
.foto_1
	margin-top: 90px
.foto_2
	margin-top: 45px
.foto_3
	margin-top: 0
.foto_4
	margin-top: 30px
.foto_5
	margin-top: -15px
.foto_6
	margin-top: -60px
.over
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	margin: 0
	padding: 50px 27px 0 27px
	background-color: rgba(92, 45, 187, 0.8)
	color: #fff
	border-radius: 15px
	display: none
	h4
		font-size: 28px
		line-height: 34px
		padding-bottom: 20px
		span 
			font-size: 22px
			line-height: 27px
	p 
		font-size: 22px
		line-height: 140%
	
.foto_1:hover h3, .foto_2:hover h3, .foto_3:hover h3, .foto_4:hover h3, .foto_5:hover h3, .foto_6:hover h3      
	display: none
.foto_1:hover .over, .foto_2:hover .over, .foto_3:hover .over, .foto_4:hover .over, .foto_5:hover .over, .foto_6:hover .over
	display: block
footer 
	min-height: 420px
	background-color: #404040
	margin-top: 50px
.info_events
	display: flex
	flex-direction: column
	font-size: 26px
	line-height: 140%
	color: #fff
	padding-top: 82px
	padding-left: 220px
	ul 
		display: flex
		justify-content: flex-start
		padding: 16px 0
		li
			padding-right: 28px
			a 
				display: block
				box-sizing: border-box
.button 
	display: flex
	flex-direction: column
	padding-top: 82px
	padding-left: 60px
	p  
		a  
			display: inline-block
			font-weight: bold
			font-size: 20px
			line-height: 24px
			color: #FFF
			border: 3px solid #FFF
			box-sizing: border-box
			border-radius: 15px
			
	p:first-child 
		margin-bottom: 35px
		a 
			padding: 23px 34px 23px 35px
	p:last-child 
		a 
			padding: 23px 29px			
.copyright
	margin-top: 55px
	text-align: center
	font-size: 26px
	line-height: 140%
	color: #FFF